@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600&display=swap');

*,::before,::after {
    box-sizing: border-box;
}

body {
    margin: 3rem 0 0 0;
    color: #fff;
    background-color: #1D2063; 
    font-family: 'Open Sans'; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem; 
    font-family: 'Raleway'; 
}

img {
    max-width: 100%;
    height: auto;
}

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D2063; 
}

.button {
    display: inline-block;
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    background-color: #EA4C89; 
    color: #fff;
    border-radius: 1.5rem;
} 

.button:hover {
    box-shadow: 2px 0 24px #EA4C89; 
    transition: .5s;
}

.home {
    height: calc(100vh - 3rem); 
}

.nav {
    height: 3rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin-bottom: 1.5rem;
}

.nav__link {
    color: #fff; 
}

.nav__link:hover {
    border-bottom: 1px solid #fff; 
}

.nav__icon {
    font-size: 1.5rem;
}

.menu-toggle {
    cursor: pointer;
}

.show {
    right: 0;
}

.home__data {
    padding-top: 2rem;
    text-align: center;
}

.home__title {
    margin-bottom: .5rem;
    color: #EA4C89; 
}

.home__name {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1rem; 
}

.home__social {
    display: flex;
    align-items: center;
    text-align: initial;
}

.home__social-name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 1px solid #fff; 
    margin-right: .5rem;
    padding: 1rem .2rem;
    font-size: 1rem;
}

.home__social-icon {
    margin-right: 1rem;
    color: #fff; 
    z-index: -10; 
}

.home__img {
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .home {
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
    }
    .button {
        margin-bottom: 3rem;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-bottom: 0;
        margin-left: 1.5rem;
    }
    .menu-toggle {
        display: none;
    }
    .home__data {
        padding: 0;
        text-align: initial;
    }
    .home__social-icon {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 60%;
        height: 100vh;
        padding: 1.5rem;
        background-color: #1D2063; 
        z-index: 100;
        transition: .5s;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff; 
    }
}
